---
---

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "{{ site.theme }}";

body {
    font-family: 'Space Mono', monospace;
    color: #484848;
}

.project-name {
    font-weight: 400;
}


.page-header {
    background: #fff;
    color: #000;
}

a.btn {
    color: #000;
    margin: 0;
    border: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    background: url(/assets/img/yellow-3.png) no-repeat;
    background-size: 100% 100%;
    transition: none;
    outline: none;
}

a.btn:hover {
    color: #000;
    border: none;
    background: url(/assets/img/yellow-2.png) no-repeat;
    background-size: 100% 100%;
    transition: none;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #000;
}

.main-content h2 {
    text-decoration: underline;
}

.main-content h3 {
    background-color: yellow;
    background: url(/assets/img/yellow-3.png) no-repeat;
    background-size: 100% 100%;
    padding: 8px 0;
    background-position-x: -15px;
}

/*.main-content h3:before {
    content: "-> ";
}*/

.main-content details hr {
    margin: 0 0 1rem;
    background-color: transparent !important;
}

.main-content details .achievements {
    border-bottom: 1px dashed;
}

img.avatar {
    width: 200px;
    border-radius: 50%;
}

summary {
    cursor: pointer;
    outline: none;
}

summary::-webkit-details-marker {
    display: none
}

summary:before {
    content: "-> "
}

.main-content ul li {
    list-style: none;
}

.main-content ul li p:before {
    content: "∙ ";
}

.site-footer {
    border-top: none;
}

.site-footer-credits {
    color: inherit;
}

@media screen and (min-width: 64em) {
    .main-content {
        font-size: 1rem;
    }
}
@media screen and (max-width: 42em) {
    a.btn {
        margin: 0 auto;
        display: block;
        width: 50%;
        padding: 0.75rem;
        font-size: 0.9rem;
    }
    .btn + .btn {
        margin: 1rem auto 0 auto;
    }
}
